@import url("css/navi.css");
@import url("css/select-button.css");


html{overflow-y: scroll;}
body{margin:0; padding: 0;
	font-size: 14px;
    font-family: verdana, Arial, sans-serif;
    color: #FFF;
    min-width: 1120px;
    background-color: #29313C;}

img{display:block; margin:0; padding:0; border:0;}
a{outline: none; text-decoration: none;}

br.clear{clear:both; margin-top:-10px;}

.fl_left{float:left;}
.fl_right{float:right;}

/* *********************************************************************** */
/* ***************************** Wrapper ********************************* */
div.wrapper{display: block; width: 100%; margin:0; text-align: left;}
div.wrapper h1, div.wrapper h2,
div.wrapper h3, div.wrapper h4,
div.wrapper h5, div.wrapper h6{margin:0 0 20px 0;
 padding:0 0 8px 0;
 font-size:20px; font-weight:normal;
 font-family:Georgia, "Times New Roman", Times, serif;
 border-bottom:1px dotted #DDDDDD;}
.col1{color: #666666; background-color: #E3F1F9;}
.col2{color: #FFFFFF; background-color: #000000;}
.col3, .col4{color: #666666; background-color: #FFFFFF;}
.col5{color: #999999; background-color: #F3F3F3;}
.col5 a{color:#2684B7; background-color:#F3F3F3;}
.col6{color: #FFFFFF; background-color: #29313C;}

/* **************************Generalise*********************************** */
#header, #tbar, #intro,#container, #footer,#follow{display: block; position: relative; width: 980px; margin:0 auto;}

/* --------------------------------------------------------------------- */
/* ----------------------------Header----------------------------------- */
#header{padding: 0; font-family:Georgia, "Times New Roman", Times, serif;}
#header #logo{display:block; float:left; width:300px; margin-top:7px;}
#header h1, #header p{margin:0; padding:0; line-height:normal;}
#header h1{margin:0 0 0 0; padding:0; font-size:28px; border:none;}
#header h1{color:#3A6C86; background-color:#E3F1F9;}

/* --------------------------------------------------------------------- */
/* ------------------------------tbar----------------------------------- */
#tbar{z-index: 1;}
#tbar{}

/* --------------------------------------------------------------------- */
/* ------------------------------Column--------------------------------- */
#container{color:#000;padding:15px 0 20px 0; font-size:12px; font-family:Georgia, "Times New Roman", Times, serif;}
#container .fl_legend, #container .fl_time{
	display:block;
	width: 69%;
	padding:0px;
	float:left;
}
#container .fl_tool{
    display:block;
	width: 29%;
	padding:0px;
	float:right;
}
#container .fl_left, #container .fl_right{
	display:block;
	width: 49%;
	padding:0px;
}

/* ------------------------------------------- */
/* -------------mapBox------------------------ */
.mapBox, .toolBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.mapBox{
  min-height: 320px;
}
.toolBox{
  min-height: 200px;
}


.mapBox-body {
  padding: 8px;
}
.mapBox-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.mapBox-heading p{
	padding: 0px;
	margin:0px;
}
.mapBox > .mapBox-heading{
  color: #333;
  border-color: #ddd;
  background-color: #f5f5f5;
}
.mapBody{
    width: 100%;
    position:relative; 
    margin: 0 auto;
    float:left; 
    padding: 0;

}
#map_p, #map_past{
   position: relative;
   background-color:#F4F4F4;
   border:1% solid #d6d6c2;color:#ffffe6;
   border-radius: 3px;
   width: 75%;
   height: 260px;
   /*border: 1px solid black;*/
   margin: 0 auto;
   padding: 0;
   float:center;
   color: black;
}  
.MapColor{
	stroke: none;
	stroke-width:1;
	stroke-opacity:1;
	opacity:1;
}
/* ------------------------------------------- */
/* --------------- grid ---------------------- */
.graticule{
	fill: none;
	stroke: #000;
	stroke-width: .5px;
	stroke-opacity: .5;
}

/* ------------------------------------------- */
/* ------------- Graph ----------------------- */
#map {
    background-color:#F4F4F4; position:relative;
    margin-bottom: 20px;
    width:100%; height: 250px;
    border:0px solid #d6d6c2;
}

#map3 {
   position:relative; 
   width:100%; height:100%;
   border-radius: 1%; color:#330000; 
   font-weight:bold; font-size: 7;
}



p.serif {
            font-family: "Times New Roman", Times, serif;
            font-size: 14px;
            font-color:black;
        }
       
p.sansserif {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-color:black;
}

svg { margin-bottom:-4px; font: 14px sans-serif; }
path { stroke: #000;fill: none;}
/* ------------------------------------------- */
/* -------------legend------------------------ */
#legend_p, .fl_time{
  display:block;
  width: 100%;
  height: 80px;
  position: relative;
  border: 1px solid transparent;
  border-color: #000;
}  
#legend_p{
  margin: 10px 0 10px 0;
}
.legendP {
  font: 8px sans-serif;
  margin-top: 2px;
  border-color: #000;
}

.legendP path {
  display: none;
}

.legendP line {
  stroke: #000;
  shape-rendering: crispEdges;
}
.caption {
  font: 12px sans-serif;
  text-align: right;
  text-anchor:middle;
  /*font-weight: bold;*/
}

/***********Tool************/
.toolBody{
    width: 100%;
    position:relative; 
    margin: 0 auto;
    float:left; 
    padding: 0;
}
#descrip, #des_map {
	margin: 5px;
}

#intro{padding:30px 0 5px 0; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif;}
#intro .fl_left{display:block; float:left; width:515px; height:240px; margin:0; padding:30px; color:#FFFFFF; background-color:#2684B7;}
#intro .fl_left h2{font-size:46px; margin:0 0 15px 0; padding:0; border:none; color:#FFFFFF; background-color:#2684B7;}
#intro .fl_left p{margin:0; padding:0; line-height:1.6em;}
#intro .fl_left p.readmore{display:block; width:100%; margin:20px 0 0 0; padding:0; text-align:right; line-height:normal;}
#intro .fl_left p.readmore a{padding:8px 15px; font-size:18px; color:#FFFFFF; background-color:#1C5E82;}
#intro .fl_right{float:right;}

