{% extends 'base.html' %}
{% block title %}Climate Project{% endblock %}
{% block meta %}
  <style type="text/css">  
        svg {
          font: 10px sans-serif;
        }
        .area {
          fill: #80aaff;
          clip-path: url(#clip);
        }
        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }
        .grid-background {
          fill: #ddd;
        }
        .grid line,
        .grid path {
          fill: none;
          stroke: #fff;
          shape-rendering: crispEdges;
        }
        .grid .minor.tick line {
          stroke-opacity: .5;
        }
        .brush .extent {
          stroke: #fff;
          fill-opacity: .125;
          shape-rendering: crispEdges;
          clip-path: url(#clip);
        }
        rect.pane {
          cursor: move;
          fill: none;
          pointer-events: all;
        }
        .tick line{
          opacity: 0.2;
        }
        .line{
           fill: none;
           stroke:  #80aaff;
           stroke-width: 2px;
        }    
              
           
  </style>
{% endblock %}

{% block begin %}makeBase(){% endblock %}

{% block head %}
  <h1>Climate Project</h1>
{% endblock %}

{% block tnav %}
    <li class="active"><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'map' %}">Contrast</a></li>
    <li><a href="../">About</a></li>
{% endblock %}


{% block col3 %}
    <div class="fl_left">
      <div class="mapBox">
        <div class="mapBox-heading"><p>Map</p></div>
        <div class="mapBox-body">
          <div class="mapBody"><div id="map_p"></div></div>          
        </div>
        <!--<button resetP class="button2">ReDraw</button>  -->
      </div>   
    </div>                        

    <div class="fl_right">
      <div class="mapBox">
        <div class="mapBox-heading" >
        <p id="GraphName">Graph</p>
        </div>
        <div class="mapBox-body">
          <div class="mapBody"><div id="map"></div></div>
        </div>
      </div>
    </div>

    <div class="fl_tool">
      <div class="toolBox">
         <p>&nbsp;&nbsp;Select a variable / index
          <select name="s-variable" class="select-style l-blue semi-sq selectpicker" onchange="ChangeCarList()" id="vars" >
            <option value="1" >Temperature</option>
            <option value="2" >Preciptation</option>
          </select>
          <select name="s-index" class="select-style l-blue semi-sq" id="cindex" >
          </select></p>
         <p>&nbsp;&nbsp;Select Grid size
            <select name="s-grid" class="select-style l-blue semi-sq">
            <option>1x1</option>
            <option>2x2</option>
            <option>3x3</option>
          </select></p>
          <p id = "descrip">Descriptions:</p>
          <p id="des_map"></p>
      </div>
    </div>

    <div class="fl_legend">
       <div id="legend_p"></div></div>

    <div class="fl_time">
    	<div id="map3"></div>
    </div>
{% endblock %}

{% block col4 %}


{% endblock %}

{% block col5 %}
    <div class="fl_left">
      <h2>Climate.</h2>
      <p>U</p>
      <p class="readmore"><a href="#">Contact us</a></p>
    </div>
{% endblock %}

{% block JSload %}
{% load staticfiles %}
<script src="{% static 'node_modules/topojson/node_modules/d3/d3.js' %}"></script>
<script src="{% static 'node_modules/d3-geo-projection/d3.geo.projection.js' %}"></script>
<script src="{% static 'node_modules/topojson/build/topojson.js' %}"></script>
<script src="{% static 'js/MapPlot.js' %}"></script>
{% csrf_token %}
<script type="text/javascript" src="{% static 'js/GraphPlot.js'%}"></script>
{% endblock %}
